/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

$ionicons-font-path: "../res/fonts" !default;

// Include all of Ionic
@import "../bower_components/ionic/scss/ionic";

@import "../bower_components/ionic-contrib-frosted-glass/ionic.contrib.frostedGlass";


.static {
  position:static;
}

/* Typeahead stuff
----------------------------*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width:95%;
}
.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: $positive;
  outline: 0;
}

.dark .dropdown-menu .active a, .dark .dropdown-menu .active a:hover, .dark .dropdown-menu .active a:focus {
  background-color: $dark;
}

.button-bump,.button-seed {
  float:right;
  width:54px;
}

.no-left-padding {
  padding-left:0;
}

.advanced-toggle {
  padding-left:5px;
}

input.hashed-output[disabled]{
  background: $light;
}

input.range {
  width:100%;
}

input {
  padding-left:0 !important;
}

.item-toggle .toggle {
  top:15.5px;
  right:5px;
}