<?xml version='1.0' encoding='utf-8'?>
<widget id="net.pixelburn.passwordhasher" version="2.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PHasher+</name>
    <description>
        A simple password hasher. Based on the original Chrome extention Password Hasher plus.
    </description>
    <author email="drew@pixelburn.net" href="https://github.com/pixeldrew">
        Drew Foehn
    </author>

    <content src="index.html"/>

    <icon src="res/icons/icon.png" gap:role="default"/>
    <icon src="res/icons/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi"/>

    <gap:platforms>
        <gap:platform name="android" minVersion="4.0"/>
    </gap:platforms>

    <gap:plugin name="nl.x-services.plugins.toast" version="1.0"/>
    <gap:plugin name="com.verso.cordova.clipboard" version="0.1.0"/>
    <gap:plugin name="net.tunts.webintent" version="0.2.1" />

    <access origin="http://localhost/*"/>

    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>

    <preference name="enableViewPortScale" value="true" />
    <preference name="android-windowSoftInputMode" value="stateVisible" />

    <preference name="orientation" value="portrait"/>

    <preference name="target-device" value="universal"/>
    <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen" value="false"/>
    <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion" value="16"/>
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation" value="auto"/>
    <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <preference name="InAppBrowserStorageEnabled" value="true"/>

</widget>
