<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
 xmlns:gap="http://phonegap.com/ns/1.0"
 id="net.pixelburn.passwordhasher"
 version="1.0.2">
    
    <name>
        PHasher+
    </name>
    
    <description>
        A simple password hasher, with HTML5 storage. Based on the original Chrome extention Password Hasher plus.
    </description>
    
    <author href="https://github.com/pixeldrew"
     email="drew@pixelburn.net">
        Drew Foehn
    </author>
    
    <gap:platforms>
        <gap:platform name="android" minVersion="2.2"/>
    </gap:platforms>
    
    <icon src="icon.png" gap:role="default"/>
    
    <feature name="http://api.phonegap.com/1.0/network"/>
	
    
</widget>