<ion-view class="slide-in-left " title="{{'home.title' | i18n }}">
    <div ng-controller="HomeCtrl" >
        <ion-content class="padding">
            <div class="list">
                <div class="item item-input static">
                    <div class="col col-75 no-left-padding">
                        <label class="item-stacked-label">
                            <span class="input-label" i18n="home.sitetag"></span>
                            <site-list class="site-list dark" ng-change="getConfig()" sites="sites"
                                       ng-model="config.tag"></site-list>
                        </label>
                    </div>
                    <div class="col">
                        <button class="button icon ion-chevron-up button-bump button-dark" ng-click="bump()"></button>
                    </div>
                </div>

                <ion-toggle toggle-class="toggle-dark" ng-model="config.showAdvanced">
                    <span class="input-label" i18n="home.options"></span>
                </ion-toggle>

                <div ng-show="config.showAdvanced">

                    <div class="item item-input static">
                        <div class="col">
                            <label class=" item-stacked-label no-left-padding">
                                <span class="input-label" i18n="home.length"></span>
                                <input type="number" min="2" max="26" ng-model="config.length.value" ng-change="saveAndHash()">
                            </label>
                        </div>
                        <div class="col col-75">
                            <input type="range" class="range" min="2" max="26" ng-model="config.length.value" ng-change="saveAndHash()">
                        </div>
                    </div>

                    <div class="item item-input item-select">
                        <div class="input-label" i18n="home.strength">

                        </div>
                        <select ng-model="config.strength.value" ng-change="saveAndHash()">
                            <option value="2" i18n="home.alphaspecial"></option>
                            <option value="1" i18n="home.alpha"></option>
                            <option value="0" i18n="home.numeric"></option>
                        </select>
                    </div>


                    <div class="item item-input static">
                        <div class="col col-75">
                            <label class=" item-stacked-label no-left-padding">
                                <span class="input-label" i18n="home.seed"></span>
                                <input type="text" ng-model="config.seed" ng-change="saveAndHash()">
                            </label>
                        </div>
                        <div class="col">
                            <button class="button icon ion-key button-seed button-dark button-bump" ng-click="newSeed()"></button>
                        </div>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" i18n="home.password"></span>
                    <input type="password" ng-model="config.password" ng-change="saveAndHash()">
                </label>

                <div class="item item-input static">
                    <div class="col col-75 no-left-padding">
                        <label class="item-stacked-label">
                            <span class="input-label" i18n="home.hashed"></span>
                            <input class="hashed-output" type="text" disabled placeholder="" ng-model="hashedPassword">
                        </label>
                    </div>
                    <div class="col">
                        <button class="button icon ion-ios7-copy button-dark button-bump" ng-click="copySaveAndHash()"></button>
                    </div>
                </div>

            </div>

        </ion-content>

    </div>
</ion-view>