<ion-view class="slide-in-right " title="{{'settings.title' | i18n }}">
    <div ng-controller="SettingsCtrl" >
        <ion-content class="has-header padding">
            <div class="list">

                <div class="item item-input static">
                    <div class="col">
                        <label class=" item-stacked-label no-left-padding">
                            <span class="input-label" data-i18n="settings.length"></span>
                            <input type="number" ng-model="config.length.value" ng-change="save()">
                        </label>
                    </div>
                    <div class="col col-75">
                        <input type="range" class="range" min="2" max="26" ng-model="config.length.value" ng-change="save()">
                    </div>

                </div>

                <div class="item item-input item-select">
                    <div class="input-label" data-i18n="settings.strength"></div>
                    <select ng-model="config.strength.value" ng-change="save()">
                        <option value="2" data-i18n="settings.alphaspecial"></option>
                        <option value="1" data-i18n="settings.alpha"></option>
                        <option value="0" data-i18n="settings.numeric"></option>
                    </select>
                </div>

                <div class="item item-input static">
                    <div class="col col-75">
                        <label class=" item-stacked-label no-left-padding">
                            <span class="input-label" data-i18n="settings.seed"></span>
                            <input type="text" ng-model="config.seed" ng-change="save()">
                        </label>
                    </div>
                    <div class="col">
                        <button class="button icon ion-key button-seed" ng-click="newSeed()"></button>
                    </div>
                </div>
            </div>

            <!--button class="button " data-i18n="settings.export"></button>

            <button class="button " data-i18n="settings.import"></button-->

            <button class="button " ng-click="showAbout()" data-i18n="settings.about"></button>

        </ion-content>

    </div>
</ion-view>